<!--
<button (click)="startTime()">Play</button>
<button (click)="playSound()">PlaySound</button>
<button (click)="stopSound()">Stop Sound</button> -->
<div class="percussion-controls-container">
  <div>
    <!-- <button (click)="startLoop()">Start Loop</button> -->
    <!-- <button (click)="go('kick')">Kick</button>
    <button (click)="go('snare')">Snare</button>
    <button (click)="go('hat')">Hat</button> -->
    <button (click)="startTimeOsc()">Start time</button>
    <button (click)="stop()">Stop</button>
    <button (click)="checkContextTime()">C-Time</button>
    <div>current Time: {{ currentTime }}</div>
    <div>next Time: {{ nextNoteTime }}</div>
  </div>
  <div>
    <!-- <button (click)="stopLoop()">Stop Loop</button> -->
  </div>
  <div class="animation-container">
    <!-- <app-play-animation></app-play-animation> -->
  </div>
</div>


<div class="instrument-row">
  <div class="instrument-title">
    K
  </div>
  <div *ngFor="let beat of percussionTrack.kick; index as i" (click)="toggleBeat(i, 'kick')" [ngClass]="beat ? 'instrument-row-block-active if-fourth' : 'instrument-row-block if-fourth'">
  </div>
</div>
<div class="instrument-row">
  <div class="instrument-title">
    S
  </div>
  <div *ngFor="let beat of percussionTrack.snare; index as i" (click)="toggleBeat(i, 'snare')" [ngClass]="beat ? 'instrument-row-block-active if-fourth' : 'instrument-row-block if-fourth'">
  </div>
</div>
<div class="instrument-row">
  <div class="instrument-title">
    H
  </div>
  <div *ngFor="let beat of percussionTrack.highHat; index as i"  (click)="toggleBeat(i, 'highHat')" [ngClass]="beat ? 'instrument-row-block-active if-fourth' : 'instrument-row-block if-fourth'">
  </div>
</div>




