@import "../shared/variables.scss";

:host {
  width: fit-content;
  height: fit-content;
  border: $percussion-container-border;
  border-radius: 2px;
  box-shadow: $percussion-container-box-shadow;
  // background: $percussion-container-bg;
  color: $percussion-container-text-color;
  // text-shadow: 2px 2px 3px rgb(240, 48, 247);
  padding: 0.5rem 1rem 1rem 0.5rem;
  margin: 0rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.percussion-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 95%;

}

.animation-container {
  height: 3rem;
  width: 3rem;
  // border: 1px solid salmon;
  margin-left: auto;
}

.instrument-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.instrument-title {
  width: 1rem;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  // border: 1px solid white;
  text-align: end;
  margin-right: 0.5rem;

  img {
    width: 100%;
  }
}
.instrument-row-block {
  height: $instrument-block-height;
  width: $instrument-block-width;
  border: $instrument-block-border;
  background-color: $instrument-block-bg;
  color: black;
  transition: 100ms;
  // animation: playing-block 1s ease-in-out infinite;
}

@keyframes playing-block {
  0% {
    background-color: $instrument-block-bg;
  }
  50% {
    background-color: $instrument-block-bg-play;
    scale: 1.2;
  }
  100% {
    background-color: $instrument-block-bg;
  }

}

// .instrument-row-block:nth-child(4n + 1) {
//   border-right: $instrument-block-measure-border;
// }

.if-fourth:nth-child(4n + 1) {
  border-right: $instrument-block-measure-border;
}

.instrument-row-block:hover {
  background-color: $instrument-block-hover;
  transition: 100ms;
}

.instrument-row-block-active {
  height: $instrument-block-height;
  width: $instrument-block-width;
  border: $instrument-block-active-border;
  background-color: $instrument-block-active-bg;
  color: black;
  transition: 100ms;
}


