@import "../shared/variables.scss";

:host {
  width: fit-content;
  height: fit-content;
  border: $percussion-container-border;
  background: $percussion-container-bg;
  color: $percussion-container-text-color;
  // text-shadow: 2px 2px 3px rgb(240, 48, 247);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


.instrument-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.instrument-title {
  width: 4rem;
  font-size: 0.8rem;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  // border: 1px solid white;
  text-align: end;
  margin-right: 0.5rem;
}
.instrument-row-block {
  height: 1.5rem;
  width: 2rem;
  border: $instrument-block-border;
  background-color: $instrument-block-bg;
  color: black;
  transition: 100ms;
}

.instrument-row-block:nth-child(4n + 1) {
  border-right: $instrument-block-measure-border;
}

.instrument-row-block:hover {
  background-color: $instrument-block-hover;
  transition: 100ms;
}

.instrument-row-block-active {
  height: 1.5rem;
  width: 2rem;
  border: $instrument-block-active-border;
  background-color: $instrument-block-active-bg;
  color: black;
  transition: 100ms;
}


