@import "../shared/variables.scss";

:host {
  margin: 2rem;
}
.synth-pad-container {
  height: $synth-pad-height;
  width: $synth-pad-width;
  border-radius: 4px;
  // margin: 2rem; // DO NOT add margin, this will affect div boundingRect
  border: $synth-pad-border;
  background: $synth-pad-bg;
  box-shadow: $synth-pad-box-shadow;
  cursor: crosshair;
}

.synth-pad-container-no-cursor {
  height: $synth-pad-height;
  width: $synth-pad-width;
  border-radius: 4px;
  // margin: 2rem; // DO NOT add margin, this will affect div boundingRect
  border: $synth-pad-border;
  background: $synth-pad-bg;
  box-shadow: $synth-pad-box-shadow;
  cursor: none;
}

.animated-cursor {
  height: 2rem;
  width: 2rem;
  background-color: red;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}


.cursor {
  width: 5px;
  height: 5px;
  // border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 3s infinite alternate;
  pointer-events: none;
  cursor: none;
}

// .cursor::after {
//   content: "";
//   width: 20px;
//   height: 20px;
//   position: absolute;
//   // border: 8px solid rgba(255, 255, 255, 0.502);
//   border-radius: 50%;
//   opacity: .5;
//   top: -8px;
//   left: -8px;
//   animation: cursorAnim2 0.1s infinite alternate;
// }

@keyframes cursorAnim {
  0% {
    // transform: scale(1.4) skew(30deg, 20deg);
    transform: scale(4);
    // background-color: rgb(255, 108, 201);
    background: linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(255, 108, 201)100%);
    border: 0px solid gray;
    border-radius: 50%;
  }

  20% {
    // transform: scale(1.5) skew(-30deg, 20deg) rotate(55deg);
    transform: scale(6);
    // background-color: rgb(255, 206, 107);
    background: linear-gradient(12deg, rgb(255, 255, 255) 0%, rgb(255, 206, 107) 100%);
    border: 0px solid gray;
    border-radius: 50%;
  }

  50% {
    // transform: scale(1) skew(80deg, 60deg) rotate(15deg);
    transform: scale(2);
    // background-color: rgb(59, 102, 255);
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(97, 197, 255) 100%);
    border: 0px solid gray;
    border-radius: 50%;
  }

  75% {
    // transform: scale(1) skew(60deg, 55deg) rotate(-5deg);
    transform: scale(20);
    // background-color: rgb(255, 173, 90);
    background: linear-gradient(-30deg, rgb(255, 255, 255) 0%, rgb(255, 173, 90) 100%);
    border: 0px solid gray;
    border-radius: 50%;
  }

  100% {
    // transform: scale(4) skew(30deg, -20deg);
    transform: scale(4);
    // background-color: rgb(206, 108, 255);
    background: linear-gradient(125deg, rgb(255, 255, 255) 0%, rgb(206, 108, 255) 100%);
    border: 0px solid rgb(98, 206, 249);
    border-radius: 50%;
  }
}

// @keyframes cursorAnim {
//   from {
//     transform: scale(1);
//     background-color: yellow;
//   }
//   to {
//     transform: scale(.7);
//     background-color: black;
//   }
// }

// @keyframes cursorAnim2 {
//   from {
//     transform: scale(1);
//     background-color: red;
//   }
//   to {
//     transform: scale(.4);
//     background-color: blue;
//   }
// }

// @keyframes cursorAnim3 {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(3);
//   }
//   100% {
//     transform: scale(1);
//     opacity: 0;
//   }
// }

// .expand {
//   animation: cursorAnim3 .5s forwards;
//   border: 1px solid red;
// }

