<!-- <div>
  play Oscillators
  <input type="range" min="20" max="1500" value="440" (input)="playOscillators($event)" (click)="playOscillators($event)">

</div> -->
<p>isSynthPlaying: {{ isSynthPlaying }}</p>
<!-- <p>mouseX: {{ mouseX }}</p>
<p>mouseY: {{ mouseY }} </p>
<p>volPercent: {{ volumeFactor }}</p>
<p>pitchFactor: {{ pitchFactor }}</p>
<p>{{ synthBounds | json }}</p> -->
<div #synthDiv class="synth-pad-container"
  (mousedown)="activateSynth(); activateCursorAnimation()"
  (mouseup)="deactivateSynth(); deactivateCursorAnimation()"
  (mouseleave)="deactivateSynth(); deactivateCursorAnimation()"
  (mouseenter)="getSynthPadBounds()"
  (mousemove)="getMouseCoordinates($event)"
  [ngClass]="{'synth-pad-container-no-cursor':isCursorAnimated}"
  >

  <!-- <div class="animated-cursor"></div> -->
  <div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}" *ngIf="isCursorAnimated && isSynthPlaying"></div>

</div>



