// STANDARD THEME COLORS
// $backdrop-gradient-bg--standard: linear-gradient(180deg, #00183e,#322379 0%, #131313 100% );
$backdrop-gradient-bg--standard: radial-gradient(circle, #00183e,#322379 0%, #131313 100% );
// $backdrop-gradient-bg--standard: radial-gradient(circle, #ffffff7b 0%, #ffffff7d 30%, #ff179a63 65%, #1774ff70 80%, #fb00ff7b 100% );

$artifact-bg--standard:  linear-gradient( 90deg , #ffdf0c 0%, #ffdf0c 30%, #ed026cd4 100%);

$grid-container-shadow--standard: 0px 20px 20px #5c069a;
$grid-block-shadow--standard: -1px -1px 4px #21c8ff81;
$grid-block-border--standard: 0.1rem solid #ff23b6;


// $console-bg-color: rgba(10, 10, 10, 0.20);
// $console-bg-color: rgba(208, 208, 208, 0.60);
// $console-bg-color: rgba(208, 208, 208, 0.34);
// $console-bg-color: rgba(35, 35, 35, 0.63);
// $console-bg--standard: linear-gradient(120deg, rgba(33, 33, 33, 0.813) 0%, rgba(33, 13, 20, 0.707) 100%);
$console-bg--standard: linear-gradient(120deg, rgb(25, 25, 25) 0%, rgba(74, 74, 74, 0.369) 100%);
$console-title-color--standard: #ff31ad ;
$console-title-line-gradient--standard: linear-gradient(168deg, #2bfff4 0%, #a67be0 50%, #6624c0 100%);
$console-container-shadow--standard: 0px 4px 30px #ff69ffda;
$box-shadow--standard:  0px 0px 10px #ff69ffda;
$instrument-block-hover--standard: #ff70bc;
$instrument-block-active-bg--standard: #ff0088;
$instrument-block-bg-play--standard: #14ffffbb; // animation to be activated
$instrument-block-bg--standard: #f0f0f0;

$meter-track-bg-color--standard: #262626;
$meter-track-shadow--standard: 0px 0px 6px #ff69ffed;
$meter-track-title-text-color--standard: #caf4ffda;
$meter-knob-bg--standard: #2e2e2e;
$meter-knob-border--standard: 1px solid #ff69ffda;
$meter-knob-box-shadow--standard: 0px 0px 10px #ff69ffda;

$meter-grouping-border--standard: 1px solid #4e4e4e54;
$meter-grouping-box-shadow--standard:  0px 0px 6px #ff69ffda;

$wave-button-bg--standard: linear-gradient(180deg, #000000a1 0%, #00000041 2%, rgba(255, 255, 255, 0.32) 15%, rgba(255, 255, 255, 0.32) 85%, #00000041 98%, #00000091 100%);
$wave-button-bg-hover--standard: linear-gradient(180deg, #000000a1 0%, #00000041 2%, rgba(255, 164, 199, 0.801) 15%, rgba(255, 93, 155, 0.801)  85%, #00000041 98%, #00000091 100%);
$wave-button-bg-active--standard: linear-gradient(180deg, #000000a1 0%, #00000041 2%, rgba(70, 249, 255, 0.815) 15%, #ff69ffda 85%, #00000041 98%, #00000091 100%);
$wave-button-box-shadow--standard: 1px 1px 60px rgb(255, 232, 25);

$synth-pad-border--standard: 2px solid #f01ec956;
$synth-pad-bg--standard: radial-gradient(circle, #f1e0ff 0%, rgba(255,255,255,1) 10%, #ecd4ff 60%, #e96bff 100%);
$synth-pad-box-shadow--standard: 1px 2px 20px rgba(255, 108, 204, 0.731);



















// BLUE THEME COLORS
$backdrop-gradient-bg--blue: linear-gradient(180deg, #00183e,#322379 0%, #131313 100% );
$artifact-bg--blue:  linear-gradient(  90deg , #ff2869 0%, #171717d4 100%);

$grid-container-shadow--blue: 0px 20px 20px #5c069a;
$grid-block-shadow--blue: 1px 1px 2px #ff0095da;
$grid-block-border--blue: 1px solid #181818;

$console-bg--blue: linear-gradient(120deg, rgba(33, 33, 33, 0.813) 0%, rgba(33, 13, 20, 0.707) 100%);
$console-title-color--blue: #ff45cd ;
$console-title-line-gradient--blue: linear-gradient(168deg, #58b580 0%, #a67be0 50%, #6624c0 100%);
$console-container-shadow--blue: 0px 4px 30px #ff69ffda;
$box-shadow--blue:  0px 0px 10px #2bfff4;
$instrument-block-hover--blue: #ff70bc;
$instrument-block-active-bg--blue: #ff0088;
$instrument-block-bg-play--blue: rgba(20, 255, 255, 0.734); // animation to be activated
$instrument-block-bg--blue: #f0f0f0;

$meter-track-bg-color--blue: #262626;
$meter-track-shadow--blue: 0px 0px 6px #30fcffbc;
$meter-track-title-text-color--blue: #f4bcff;
$meter-knob-bg--blue: #2e2e2e;
$meter-knob-border--blue: 1px solid #54ffe5;
$meter-knob-box-shadow--blue: 0px 0px 10px #2bfff4;

$meter-grouping-border--blue: 1px solid #0aa4a7b3;
$meter-grouping-box-shadow--blue: 0px 2px 15px #ff88f3;

$wave-button-bg--blue: linear-gradient(180deg, #000000a1 0%, #00000041 5%, rgba(255, 255, 255, 0.32) 15%, rgba(255, 255, 255, 0.32) 85%, #00000041 95%, #00000091 100%);
$wave-button-bg-hover--blue: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(255, 0, 98, 0.801) 15%, rgba(255, 0, 98, 0.801)  85%, #00000041 90%, #00000091 100%);
$wave-button-bg-active--blue: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(70, 249, 255, 0.815) 15%, rgba(248, 255, 43, 0.815) 85%, #00000041 90%, #00000091 100%);
$wave-button-box-shadow--blue: 1px 1px 60px rgb(255, 232, 25);

$synth-pad-border--blue: 2px solid rgba(240, 30, 202, 0.554);
$synth-pad-bg--blue: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,244,155,1) 41%, rgba(82,255,239,1) 100%);
$synth-pad-box-shadow--blue: 1px 2px 20px rgba(255, 108, 204, 0.731);




// PURPLE THEME COLORS
// $backdrop-gradient-bg--purple: linear-gradient(180deg, #2c003e,#2c003e 0%, #131313 100% );
$backdrop-gradient-bg--purple: linear-gradient(180deg, #2c003e,#322379 0%, #131313 100% );
$artifact-bg--purple:  linear-gradient(  90deg , #ff2869 0%, #171717d4 100%);

$grid-container-shadow--purple: 0px 20px 20px #5c069a;
$grid-block-shadow--purple: 1px 1px 2px #ff0095da;
$grid-block-border--purple: 1px solid #181818;

$console-bg--purple: linear-gradient(120deg, rgba(33, 33, 33, 0.813) 0%, rgba(33, 13, 20, 0.707) 100%);
$console-title-color--purple: #ffb845 ;
$console-title-line-gradient--purple: linear-gradient(168deg, #58b580 0%, #a67be0 50%, #6624c0 100%);
$console-container-shadow--purple: 0px 4px 30px #ff69ffda;
$box-shadow--purple:  0px 0px 10px #2bfff4;
$instrument-block-hover--purple: #ff70bc;
$instrument-block-active-bg--purple: #ff0088;
$instrument-block-bg-play--purple: rgba(20, 255, 255, 0.734); // animation to be activated
$instrument-block-bg--purple: #f0f0f0;

$meter-track-bg-color--purple: #262626;
$meter-track-shadow--purple: 0px 0px 6px #30fcffbc;
$meter-track-title-text-color--purple: #f4bcff;
$meter-knob-bg--purple: #2e2e2e;
$meter-knob-border--purple: 1px solid #54ffe5;
$meter-knob-box-shadow--purple: 0px 0px 10px #2bfff4;

$meter-grouping-border--purple: 1px solid #0aa4a7b3;
$meter-grouping-box-shadow--purple: 0px 2px 15px #ff88f3;

$wave-button-bg--purple: linear-gradient(180deg, #000000a1 0%, #00000041 5%, rgba(255, 255, 255, 0.32) 15%, rgba(255, 255, 255, 0.32) 85%, #00000041 95%, #00000091 100%);
$wave-button-bg-hover--purple: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(255, 0, 98, 0.801) 15%, rgba(255, 0, 98, 0.801)  85%, #00000041 90%, #00000091 100%);
$wave-button-bg-active--purple: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(70, 249, 255, 0.815) 15%, rgba(248, 255, 43, 0.815) 85%, #00000041 90%, #00000091 100%);
$wave-button-box-shadow--purple: 1px 1px 60px rgb(255, 232, 25);

$synth-pad-border--purple: 2px solid rgba(240, 30, 202, 0.554);
$synth-pad-bg--purple: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,244,155,1) 41%, rgba(82,255,239,1) 100%);
$synth-pad-box-shadow--purple: 1px 2px 20px rgba(255, 108, 204, 0.731);

















// STARTER THEME COLORS
$backdrop-gradient-bg--starter: linear-gradient(180deg, #00183e,#322379 0%, #131313 100% );
$artifact-bg--starter:  linear-gradient(  90deg , #ff2869 0%, #171717d4 100%);

$grid-container-shadow--starter: 0px 20px 20px #5c069a;
$grid-block-shadow--starter: 1px 1px 2px #ff0095da;
$grid-block-border--starter: 1px solid #181818;

$console-title-color--starter: #ffb845 ;
$console-container-shadow--starter: 0px 4px 30px #ff69ffda;
$box-shadow--starter:  0px 0px 10px #2bfff4;
$instrument-block-hover--starter: #ff70bc;
$instrument-block-active-bg--starter: #ff0088;
$instrument-block-bg-play--starter: rgba(20, 255, 255, 0.734); // animation to be activated
$instrument-block-bg--starter: #f0f0f0;

$meter-track-bg-color--starter: #262626;
$meter-track-shadow--starter: 0px 0px 6px #30fcffbc;
$meter-track-title-text-color--starter: #f4bcff;
$meter-knob-bg--starter: #2e2e2e;
$meter-knob-border--starter: 1px solid #54ffe5;
$meter-knob-box-shadow--starter: 0px 0px 10px #2bfff4;

$meter-grouping-border--starter: 1px solid #0aa4a7b3;
$meter-grouping-box-shadow--starter: 0px 2px 15px #ff88f3;

$wave-button-bg--starter: linear-gradient(180deg, #000000a1 0%, #00000041 5%, rgba(255, 255, 255, 0.32) 15%, rgba(255, 255, 255, 0.32) 85%, #00000041 95%, #00000091 100%);
$wave-button-bg-hover--starter: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(255, 0, 98, 0.801) 15%, rgba(255, 0, 98, 0.801)  85%, #00000041 90%, #00000091 100%);
$wave-button-bg-active--starter: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(70, 249, 255, 0.815) 15%, rgba(248, 255, 43, 0.815) 85%, #00000041 90%, #00000091 100%);
$wave-button-box-shadow--starter: 1px 1px 60px rgb(255, 232, 25);

$synth-pad-border--starter: 2px solid rgba(240, 30, 202, 0.554);
$synth-pad-bg--starter: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,244,155,1) 41%, rgba(82,255,239,1) 100%);
$synth-pad-box-shadow--starter: 1px 2px 20px rgba(255, 108, 204, 0.731);
