


// Backdrop
$backdrop-gradient-bg: linear-gradient(180deg, #2c003e,#2c003e 0%, #131313 100% );

$grid-container-border: 1px solid #414141;
$grid-container-shadow: 0px 20px 20px #d8a2ff;

// $grid-block-border: 1px solid rgb(50, 238, 255);
$grid-block-border: 1px solid #181818;
// $grid-block-shadow: 2px 2px 6px rgba(255, 33, 255, 0.287);
$grid-block-shadow: 1px 1px 2px #ff0095da;

// Console
$console-container-border:1px solid #ffffff5e;
$console-container-shadow: 0px 4px 30px #ff69ffda;


// Percussion Track
$percussion-container-border:2px solid #808080;
$percussion-container-bg:linear-gradient(20deg,  #202020, #151515 );
$percussion-container-text-color:#ffffff;
$instrument-block-border: 1px solid #ababab41;
$instrument-block-bg:#f0f0f0;
$instrument-block-measure-border: 1px solid #212121;
$instrument-block-hover:#ff70bc;
$instrument-block-active-border: 1px solid #ababab41;
$instrument-block-active-bg: #ff0088;


// Meter

// $meter-track-border: 1px solid #2b2b2b3e;
$meter-track-border: 1px solid #2b2b2b00;
$meter-track-bg-color: #262626;
$meter-track-shadow: 0px 0px 6px #30fcffbc;
$meter-knob-bg: #2e2e2e;
$meter-knob-border: 1px solid #54ffe5;
$meter-knob-box-shadow: 0px 0px 10px #2bfff4;

// Meter Group
$meter-group-border: 1px solid #0aa4a7b3;
$meter-group-box-shadow: 0px 2px 30px #2efbfe83;
