


// Backdrop
$backdrop-gradient-bg: linear-gradient(180deg, #2c003e,#2c003e 0%, #131313 100% );

$grid-container-border: 1px solid #414141;
$grid-container-shadow: 0px 20px 20px #d8a2ff;

// $grid-block-border: 1px solid rgb(50, 238, 255);
$grid-block-border: 1px solid #181818;
// $grid-block-shadow: 2px 2px 6px rgba(255, 33, 255, 0.287);
$grid-block-shadow: 1px 1px 2px #ff0095da;

// Console
$console-bg-color: rgba(35, 35, 35, 0.20);
// $console-bg-color: rgba(10, 10, 10, 0.20);
// $console-bg-color: rgba(208, 208, 208, 0.60);
// $console-bg-color: rgba(208, 208, 208, 0.34);
$console-title-color: #ffb845;
$console-container-border:1px solid #ffffff5e;
$console-container-shadow: 0px 4px 30px #ff69ffda;


// Percussion Track
$percussion-container-border: 2px solid #80808054;
$percussion-container-text-color:#ffffff;
$percussion-container-bg:linear-gradient(20deg,  #202020, #151515 );
$percussion-container-box-shadow: 0px 0px 10px #2bfff4;
$instrument-block-height: 1.5rem;
$instrument-block-width: 2rem;
$instrument-block-border: 1px solid #ababab41;
$instrument-block-bg:#f0f0f0;
$instrument-block-bg-play: rgba(20, 255, 255, 0.734);
$instrument-block-measure-border: 1px solid #212121;
$instrument-block-hover:#ff70bc;
$instrument-block-active-border: 1px solid #ababab41;
$instrument-block-active-bg: #ff0088;


// Meter

// $meter-track-border: 1px solid #2b2b2b3e;
$meter-track-border: 1px solid #2b2b2b00;
$meter-track-bg-color: #262626;
$meter-track-shadow: 0px 0px 6px #30fcffbc;
$meter-knob-bg: #2e2e2e;
$meter-knob-border: 1px solid #54ffe5;
$meter-knob-box-shadow: 0px 0px 10px #2bfff4;

// Meter Group
$meter-grouping-border: 1px solid #0aa4a7b3;
// $meter-grouping-box-shadow: 0px 2px 15px #65eaffb3;
$meter-grouping-box-shadow: 0px 2px 15px #ff88f3;
$meter-group-border: 1px solid #7b7b7b3f;
$meter-group-box-shadow: 0px 1px 2px #353535;


// Waveform select
$wave-container-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.409);
$wave-container-border: 1px solid rgba(43, 43, 43, 0.474);
$wave-button-text-color: rgb(94, 0, 66);
$wave-button-text-shadow: 1px 1px 1px rgba(80, 80, 80, 0.278);
$wave-button-bg: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(255, 255, 255, 0.32) 15%, rgba(255, 255, 255, 0.32) 85%, #00000041 90%, #00000091 100%);
$wave-button-bg-hover: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(255, 0, 98, 0.801) 15%, rgba(255, 0, 98, 0.801)  85%, #00000041 90%, #00000091 100%);
$wave-button-border-right: 1px solid rgba(57, 57, 57, 0.505);
$wave-button-bg-active: linear-gradient(180deg, #000000a1 0%, #00000041 10%, rgba(70, 249, 255, 0.815) 15%, rgba(248, 255, 43, 0.815) 85%, #00000041 90%, #00000091 100%);
$wave-button-box-shadow: 1px 1px 60px rgb(255, 232, 25);


// Synth pad
$synth-pad-border: 2px solid rgba(240, 30, 202, 0.554);
$synth-pad-bg: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(224,244,155,1) 41%, rgba(82,255,239,1) 100%);
$synth-pad-box-shadow: 1px 2px 20px rgba(255, 108, 204, 0.731);
