@import "../shared/variables.scss";


:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  // height: 30rem;
  height: fit-content;

  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur(16px) saturate(200%);
  background: $console-bg-color;
  border-radius: 2px;
  border: $console-container-border;
  box-shadow: $console-container-shadow;
}

.logo-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 90%;
  // border: 1px solid green;
  margin: 1rem 0rem 0.5rem 0rem;
}

.logo-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: fit-content;
  margin-right: 0.5rem;
  // border: 1px solid blue;
  // background: linear-gradient(168deg, #58b580 0%, #a67be0 50%, #6624c0 100%) ;
}

.top-logo-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: fit-content;
  // border: 1px solid red;
}

.expanding-logo-lines {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // border: 1px solid yellow;
  width: 3rem;
  height: 1.35rem;
  margin-bottom: 0.15rem;
}

.title {
  color: $console-title-color;
  text-shadow: 2px 2px 2px rgba(26, 26, 26, 0.749);
  width: fit-content;
  text-align: end;
  font-size: clamp(1.7rem, calc(1.2rem + 2vw), 2rem);
  font-style: italic;
  font-weight: 900;
  line-height: 1.4rem;
  margin-bottom: 0.1rem;
  // margin: 1rem 0rem 0.2rem 0rem;
}

.line-1 {
  width:100%;
  height: 1px;
  background: $console-title-line-gradient;
}

.line-2 {
  width:100%;
  height: 1px;
  background: $console-title-line-gradient;
}

.line-3 {
  width:100%;
  height: 2px;
  background: $console-title-line-gradient;
}

.line-4 {
  width:100%;
  height: 2px;
  background: $console-title-line-gradient;
}

.line-5 {
  width:100%;
  height: 3px;
  background: $console-title-line-gradient;
}



.bottom-logo-row {
  background: $console-title-line-gradient;
  width: 100%;
  height: 4px;
}


.synth-components-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  // border: #58b580 1px solid;
  // margin-top: 1rem;
}

.synth-controls-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.synth-controls-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  // border: $meter-grouping-border;
  // box-shadow: $meter-grouping-box-shadow;
  margin: 0.5rem;
  margin-top: 1.7rem;
}

.placeholder {
  height: 7rem;
  width: 14rem;
  // border: 2px solid #181818ce;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly ;
  margin-top: 2rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.viz-block {
  height: 3.5rem;
  width: 3.5rem;
  // border: 1px solid #8900908a;
  box-shadow: 0px 0px 10px #ff1dbbcb;
}

.synth-pad-console-container {
  margin: 0.5rem;
}

