
<div class="logo-wrapper">

  <div class="logo-container">
    <div class="top-logo-row">
      <div class="expanding-logo-lines">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
        <div class="line-4"></div>
        <div class="line-5"></div>
      </div>
      <div class="title">TURBO BEAT 5000</div>
    </div>
    <div class="bottom-logo-row">
    </div>
  </div>
</div>



<app-percussion-track></app-percussion-track>


<div class="synth-components-container">


  <div class="synth-controls-container">
    <div class="synth-controls-group">
      <app-waveform-select></app-waveform-select>
      <app-synth-meters></app-synth-meters>

    </div>

    <div class="placeholder">
      <div class="viz-block" *ngFor="let viz of visuals" [style]="viz"></div>
    </div>

  </div>
<button (click)="click()">clci</button>


  <div class="synth-pad-console-container">
    <app-synth-pad></app-synth-pad>
  </div>


</div>


