
<div class="logo-wrapper">

  <div class="logo-container">
    <div class="top-logo-row">
      <div class="expanding-logo-lines">
        <div class="line-1"></div>
        <div class="line-2"></div>
        <div class="line-3"></div>
        <div class="line-4"></div>
        <div class="line-5"></div>
      </div>
      <div class="title">TURBO BEAT 5000</div>
    </div>
    <div class="bottom-logo-row">
    </div>
  </div>
</div>



<app-percussion-track></app-percussion-track>
<!-- <app-meter-grouping></app-meter-grouping> -->

<app-synth-meters></app-synth-meters>
<app-waveform-select></app-waveform-select>
<app-synth-pad></app-synth-pad>

