<app-backdrop></app-backdrop>
<app-console></app-console>

<div class="view-settings-button" (click)="toggleViewSettings()">
  <img src="../../assets/image/icons8-gear-100.png">
</div>


<div class="settings-container" *ngIf="settingsOpen" [@inOutAnimation]>
  <div class="settings-option">
    <div class="visuals-title">Slow beats? turn off visuals</div>
  </div>
  <div class="settings-option">
    <div class="settings-boxes">
      <div class="settings-box" *ngIf="isBackdropOn" (click)="updateViewSettings('backdrop')">x</div>
      <div class="settings-box" *ngIf="!isBackdropOn" (click)="updateViewSettings('backdrop')"></div>
    </div>
    <div class="settings-name" (click)="updateViewSettings('backdrop')">
      Backdrop
    </div>
  </div>
  <div class="settings-option">
    <div class="settings-boxes">
      <div class="settings-box" *ngIf="isParticlesOn" (click)="updateViewSettings('particles')">x</div>
      <div class="settings-box" *ngIf="!isParticlesOn" (click)="updateViewSettings('particles')"></div>
    </div>
    <div class="settings-name" (click)="updateViewSettings('particles')">
      Moving Particles
    </div>
  </div>
  <div class="hint-text">
    Hint: Instead of using the synth pad, press keys g, a, b, c, d, e, f, and h(high g) to play the full octave of notes low g through high g.
  </div>
</div>
