<app-backdrop></app-backdrop>
<app-console></app-console>
<!--
<div class="main">

  <div>
    <button (click)="play()">Play</button>
  </div>
  <div>
    play on slide
    <input type="range" min="1" max="1000" value="50" class="slider" (input)="sliderChange($event)" (mousedown)="clickDown()" (mouseup)="clickUp()">
  </div>

  <div>
    waveform selector
    <input type="range" min="0" max="3" value="0" step="1" (change)="onWaveformChange($event)">
    <datalist>
      <option value="">SIN</option>
      <option value="">SQR</option>
      <option value="">SAW</option>
      <option value="">TRI</option>
    </datalist>
  </div>

  <div>
    play Oscillators
    <input type="range" min="1" max="1000" value="440" (input)="playOscillators($event)" (click)="playOscillators($event)">
  </div>


</div> -->

<div class="view-settings-button" (click)="toggleViewSettings()">
  <img src="../../assets/image/icons8-gear-100.png">
</div>


<div class="settings-container" *ngIf="settingsOpen" [@inOutAnimation]>
  <div class="settings-option">
    <div class="visuals-title">Slow beats? turn off visuals</div>
  </div>
  <div class="settings-option">
    <div class="settings-boxes">
      <div class="settings-box" *ngIf="isBackdropOn" (click)="updateViewSettings('backdrop')">x</div>
      <div class="settings-box" *ngIf="!isBackdropOn" (click)="updateViewSettings('backdrop')"></div>
    </div>
    <div class="settings-name">
      Backdrop
    </div>
  </div>
  <div class="settings-option">
    <div class="settings-boxes">
      <div class="settings-box" *ngIf="isParticlesOn" (click)="updateViewSettings('particles')">x</div>
      <div class="settings-box" *ngIf="!isParticlesOn" (click)="updateViewSettings('particles')"></div>
    </div>
    <div class="settings-name">
      Moving Particles
    </div>
  </div>
</div>
