@import "../shared/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-align: start;
  // background-color: rgb(233, 233, 233);
  background: $backdrop-gradient-bg;
  padding-top: 1rem;
  min-height: calc(100vh - 1rem);
  // height: 100%;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}

$grid-block-border: 1px solid rgb(24, 24, 24);
.bottom-grid-container {
  border-left: $grid-container-border;
  border-right: $grid-container-border;
  box-shadow: $grid-container-shadow;
  height: 10rem;
  width: 20rem;
  height: 75%;
  max-height: 90rem;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  // transform: rotate3d(0.5,0,0, 45deg) skew(0deg , 20deg);
  // transform: skew(0deg ,0deg);
  // transform: rotateX(90deg) skewX(10deg) rotateX(-90deg);
  // perspective: 23rem;


  // transform: rotateX(-90deg) translateZ(100px);
  // transform: perspective(100px) rotateX(50deg); // GUITAR HERO
  transform: perspective(300px) rotateX(60deg);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.971), rgba(77, 77, 77, 0.527));
  position: absolute;
  bottom: 0%;
}

.grid-block {
  border: $grid-block-border;
  box-shadow: $grid-block-shadow;
  height: 1rem;
  width: 1rem;

}
